.App {
  text-align: center;
}

.App-header {
  height: 50px;
  line-height: 50px;
  font-size: calc(10px + 2vmin);
  color: rgb(87, 86, 86);
  border-bottom: 1px solid rgb(204, 203, 203);
  margin: 0 30%;
}

.content {
  min-height: calc(100vh - 51px);
  padding-top: 200px;
  display: flex;
  justify-content: center;
}

.method-5w1h-container {
  position: relative;
}

.method-5w1h {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgb(204, 203, 203);
  margin: 15px 40px;
}

button {
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  color: rgb(54, 54, 54);
  font-weight: bold;
}

.question-container button:hover {
  cursor: pointer;
  background-color: #cddafd;
}

.question-container {
  width: 100%;
  height: 30px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.what-container {
  top: 0;
  justify-content: center;
}

.what-container button {
  background-color: #ef476f;
}

.where-container {
  top: 50px;
  justify-content: flex-end;
}

.where-container button {
  background-color: #ffd166;
}

.when-container {
  top: 130px;
  justify-content: flex-end;
}

.when-container button {
  background-color: #06d6a0;
}

.who-container {
  top: 200px;
  justify-content: center;
}

.who-container button {
  background-color: #118ab2;
}

.why-container {
  width: 50%;
  top: 130px;
  justify-content: flex-start;
}

.why-container button {
  background-color: #ffafcc;
}

.how-container {
  width: 50%;
  top: 50px;
  justify-content: flex-start;
}

.how-container button {
  background-color: #cdb4db;
}

